*,
:before,
*:after {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Spectral", serif;
}
header {
  background-color: #ffc017;
  position: relative;
  overflow: hidden;
}
.logo {
  cursor: pointer;
}
nav,
#mainTrendingContainer,
#altriArticoli,
.contenitoreCurious {
  width: 70%;
  margin: auto;
}

.navBar nav div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.navBar nav ul {
  display: flex;
  align-items: center;
  gap: 14px;
  list-style-type: none;
  font-size: 0.8rem;
}
.navBar nav ul li {
  cursor: pointer;
}
button {
  background-color: black;
  color: white;
  width: 6rem;
  padding: 0.5rem;
  border: none;
  border-radius: 30px;
  font-size: 0.8rem;
  cursor: pointer;
}
.navBar {
  border-bottom: 1px solid black;
  background-color: #ffc017;
  width: 100%;
  position: fixed;
  z-index: 9;
}
@keyframes cambioToWhite {
  from {
    background-color: #ffc017;
  }

  to {
    background-color: white;
  }
}
@keyframes cambioToGreen {
  from {
    background-color: black;
  }

  to {
    background-color: green;
  }
}
.animationToWhite {
  animation: cambioToWhite 0.4s forwards;
}
.aminationToGreen {
  animation: cambioToGreen 0.4s forwards;
}

/* **************************************************** */

@keyframes cambioToSenape {
  from {
    background-color: white;
  }

  to {
    background-color: #ffc017;
  }
}
@keyframes cambioToBlack {
  from {
    background-color: green;
  }

  to {
    background-color: black;
  }
}
.animationToSenape {
  animation: cambioToSenape 0.4s forwards;
}
.aminationToBlack {
  animation: cambioToBlack 0.4s forwards;
}
/* **************************sectionCurious********************** */
h1 {
  font-size: 4rem;
  font-weight: 500;
}

.curious {
  padding-top: 8rem;
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  min-width: 390px;
  justify-content: center;
}
.curious button {
  width: 9rem;
  font-size: 0.9rem;
}

.sectionCurious {
  display: flex;
  justify-content: end;
}

.contenitoreCurious .svg {
  position: absolute;
  right: -3rem;
  top: 0;
}

/* **************************Trending********************** */
main {
  border-top: 1px solid black;
  font-family: "Roboto", "Helvetica Neue";
}
#medium {
  display: flex;
  align-items: center;
  font-weight: 800;
  font-size: 0.8rem;
  gap: 1rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
}
.trendingContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 2rem;
}
.trending {
  display: flex;
  width: 30%;
  gap: 1rem;
}
.trending span {
  font-size: 2rem;
  font-weight: 900;
  color: rgb(233, 229, 229);
}
.articoloInfo {
  max-width: 380px;
}
.trendingInfo p img,
.articoloInfo p img {
  border-radius: 50%;
  width: 1.2rem;
}

.trendingAutor,
.trendingData,
.articleAutor {
  font-size: 0.8rem;
  font-weight: 600;
}
.trendingAutor,
.articleAutor {
  display: flex;
  align-items: center;
  gap: 10px;
}
.trendingnews {
  font-weight: 800;
  padding-block: 0.8rem;
}
.trendingData,
.articleInfo,
.articleData {
  color: rgb(152, 152, 152);
}
.stellina {
  vertical-align: -4px;
}
#mainTrendingContainer {
  margin-bottom: 3rem;
}
/* **************************Altri Articoli********************** */

section {
  margin-block: 3rem;
  padding-top: 3rem;
  border-top: 2px solid rgb(244, 241, 241);
}
.articleNews {
  font-weight: 800;
  font-size: 1.3rem;
  padding-block: 0.8rem;
}
.articleInfo {
  font-size: 0.8rem;
  font-weight: 500;
}
.articleData {
  font-size: 0.7rem;
  font-weight: 500;
}
.articoloInfo a {
  text-decoration: none;
  background-color: rgb(245, 245, 245);
  padding: 0.3rem 0.5rem;
  border-radius: 20px;
  color: rgb(152, 152, 152);
  cursor: pointer;
}
.articolo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}
article {
  width: 60%;
}
.articolo img {
  width: 200px;
  object-fit: contain;
}
.articoloInfo p {
  margin-block: 0.5rem;
}
.bookmark {
  float: right;
  cursor: pointer;
}

/* **************************aside************************ */
#altriArticoli {
  display: flex;
  justify-content: space-between;
}
.aside {
  position: sticky;
  top: 63.2px;
  padding-block: 1rem;
}
aside {
  width: 35%;
}
aside h3 {
  font-weight: 800;
  font-size: 0.8rem;
  margin-bottom: 1rem;
}
.matters {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
}
.matters a {
  text-decoration: none;
  font-size: 0.7rem;
  font-weight: 500;

  border: 2px solid rgb(239, 237, 237);
  padding: 0.4rem 0.8rem;
  border-radius: 4px;
  color: rgb(152, 152, 152);
  cursor: pointer;
}
.aiuto {
  border-top: 2px solid rgb(244, 241, 241);
  margin-top: 2rem;
  padding-top: 2rem;
}
.aiuto a {
  text-decoration: none;
  font-size: 0.7rem;
  font-weight: 500;
  margin-inline: 0.6rem;
  line-height: 1.5rem;
  color: rgb(152, 152, 152);
  cursor: pointer;
}
@media screen and (max-width: 1200px) {
  nav,
  #mainTrendingContainer,
  #altriArticoli,
  .contenitoreCurious {
    width: 95%;
    margin: auto;
  }
  section {
    margin-block: 3rem;
    padding-top: 1rem;
    border-top: 2px solid rgb(244, 241, 241);
  }
  .trending {
    width: 45%;
    gap: 1rem;
  }
  #altriArticoli {
    display: flex;
    flex-direction: column;
  }
  .articolo img {
    margin-left: 1rem;
  }
  article,
  aside {
    width: 90%;
    margin: auto;
  }

  aside {
    order: -1;
    margin-bottom: 3rem;
  }
  .aiuto a,
  .matters a {
    font-size: 0.8£rem;
  }
  .contenitoreCurious .svg {
    right: -6rem;
  }
}
/* ***************************@media svg M********************************** */
/* @media screen and (max-width: 1000px) {
  .contenitoreCurious .svg {
    right: -10rem;
  }
} */
/* @media screen and (max-width: 830px) {
  .contenitoreCurious .svg {
    right: -12rem;
  }
} */
@media screen and (max-width: 790px) {
  .contenitoreCurious .svg {
    right: -10rem;
  }
}
@media screen and (max-width: 720px) {
  .contenitoreCurious .svg {
    right: -13rem;
  }
}
@media screen and (max-width: 665px) {
  .contenitoreCurious .svg {
    right: -15rem;
  }
}
@media screen and (max-width: 630px) {
  .contenitoreCurious .svg {
    right: -19rem;
  }
}
/* ************************************************************** */
@media screen and (max-width: 575px) {
  nav,
  #mainTrendingContainer,
  #altriArticoli {
    width: 95%;
    margin: auto;
  }

  .trending {
    width: 95%;
  }
  .navBar ul li:not(:last-of-type) {
    display: none;
  }
  .contenitoreCurious .svg {
    display: none;
  }
}
